<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>日新查询服务</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>
    <section class="col-xs-12 choose-section">
        <div class="col-xs-6 col-xs-offset-3 choose-img">
            <img class="img-responsive" src="/images/choose-1.png" alt="" />
        </div>
        <div class="col-xs-12 choose-text">
            <h2><%= info %></h2>
            <span>你可以查询你的成绩或者你的课程如果页面</span>
            <span>长时间刷新不出来可以点击底部</span>
            <span><strong>问题反馈</strong>告诉我们</span>
        </div>
        <div class="col-xs-12 choose-btn">
            <div class="col-xs-6">
                <input type="button" id="btn_classList" value="查课表" />
            </div>
            <div class="col-xs-6">
                <input class="btn-green" type="button" id="btn_score" value="查成绩" />
            </div>
        </div>
        <div class="col-xs-4 col-xs-offset-4 feedback choose-feedback">
            <a href="/feedback">问题反馈</a>
        </div>
    </section>
    <script>
    var classList = document.querySelector("#btn_classList");
    classList.addEventListener("touchstart", function() {
        window.location.pathname="/classList";
    })
    var score = document.querySelector("#btn_score");
    score.addEventListener("touchstart", function() {
        window.location.pathname="/score";
    })
    </script>
    <script src="/javascripts/index.js"></script>
</body>

</html>