<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>日新查询服务</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>
    <section class="col-xs-12 feedback-section">
        <div class="col-xs-6 col-xs-offset-3 feedback-img">
            <img class="img-responsive" src="/images/feedback-1.png" alt="" />
        </div>
        <div class="col-xs-10 col-xs-offset-1 feedback-form">
            <form action="">
                <p class="col-xs-12">如果文字无法描述可联系<strong>QQ:183313398</strong></p>
                <textarea class="col-xs-12" name="feedback" rows="5" cols="" placeholder="你好！有问题可以写在这里告诉小新哦！"></textarea>
            </form>
        </div>
        <div class="col-xs-10 col-xs-offset-1 feedback-btn">
            <div class="col-xs-6">
                <input type="button" id="btn_back" value="Back" />
            </div>
            <div class="col-xs-6">
                <input class="btn-yellow" type="button" id="btn_ok" value="OK" />
            </div>
        </div>
        <div class="col-xs-4 col-xs-offset-4 feedback feedback-feedback">
            <a href="javascript:void(0);">问题反馈</a>
        </div>
    </section>
    <script>
    var btnBack = document.querySelector("#btn_back");
    btnBack.addEventListener("touchstart", function() {
        window.history.go(-1);
    })
    var btnOk = document.querySelector("#btn_ok");
    btnOk.addEventListener("touchstart", function() {
        window.location.pathname = "/choose";
    })
    </script>
    <script src="/javascripts/index.js"></script>
</body>

</html>