<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>日新查询服务</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>
    <section class="col-xs-12 login-section">
        <div class="col-xs-6 col-xs-offset-3 login-img">
            <img class="img-responsive" src="/images/login-1.png" alt="" />
        </div>
        <div class="col-xs-12 login-form">
            <form action="/" method="post">
                <div class="form-group col-xs-12">
                    <label for="username">学号</label>
                    <input type="number" id="number" name="number" autofocus autocomplete="on" />
                </div>
                <div class="form-group col-xs-12" autocomplete="on">
                    <label for="password">密码</label>
                    <input type="password" name="password" id="password" />
                </div>
                <div class="form-submit col-xs-6 col-xs-offset-3">
                    <input type="submit" id="login_btn" value="OK" />
                </div>
            </form>
        </div>
        <div class="col-xs-4 col-xs-offset-4 feedback login-feedback">
            <a href="/feedback">问题反馈</a>
        </div>
    </section>
    <script>
    var reg = 'info=.*?number.{9}(.*?).{9}password.{9}(.*?)%.*?'
    var info = document.cookie.match(reg);
    if (info) {
        document.querySelector('#number').value = info[1];
        document.querySelector('#password').value = info[2];
    }
    </script>
    <script src="/javascripts/index.js"></script>
</body>

</html>